@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
:root {
  --main-bg-color: #4abdac;
  --orange-color: #fc4a1a;
  --yellow-color: #f78733;
  --light-color: #dfdce3;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
